:local(.title) {
  color: cornflowerblue;
}
/*#login {
  display: none;
}

#loggedin {
  display: none;
}*/
* {
  font-family: 'Roboto', sans-serif;
}
#band-list {
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
}
